@page "/summary"
@rendermode InteractiveServer

@using Microsoft.EntityFrameworkCore
@using Shared
@using Models = Shared.Models

@inject AppDbContext DbContext
@inject ILogger<Workout> Logger

<h3>Summary</h3>

<label for="exercises">Select exercises:</label>

<select name="exercises" id="exercises" @bind="_selectedExercise" @bind:after="PrintResult">
    <option value="None">None</option>
    @foreach (var e in _exercisesFilter)
    {
        <option value="@e">@e</option>
    }

</select>

<LineChart @ref="_chart" Style="width: 100%"/>

@code {
    private IEnumerable<string> _exercisesFilter = default!;
    private List<DateTime> _dates = [];
    private List<string> _names = [];
    private Dictionary<(DateTime dt, string name), int> _map = [];
    private string _selectedExercise = string.Empty;

    private LineChart _chart = default!;
    private LineChartOptions _chartOptions = default!;
    private ChartData _data = default!;
    private List<Models.WorkoutPlan> _workoutPlans = [];

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _chart.InitializeAsync(_data, _chartOptions);
        }
        
        base.OnAfterRender(firstRender);
    }

    protected override void OnInitialized()
    {
        var workoutPlans = UpdateWorkoutPlansNoFilter();
        _workoutPlans = workoutPlans;
        _exercisesFilter = workoutPlans
            .SelectMany(x => x.Workouts)
            .Select(x => x.Name);

        // Collect headers
        UpdateDates(workoutPlans);
        UpdateNames(workoutPlans);

        // Populate data based on headers.
        UpdateBody(workoutPlans);
        
        _chartOptions = new LineChartOptions();
        _chartOptions.Plugins.Title!.Text = "Workload";
        _chartOptions.Scales.X = new ChartAxes()
        {
            Title = new ChartAxesTitle() { Text = "Date", Display = true }
        };

        _chartOptions.Scales.Y = new ChartAxes()
        {
            Title = new ChartAxesTitle() { Text = "Sum of workload", Display = true }
        };

        _data = new ChartData()
        {
            Datasets = GetDataset(),
            Labels = GetLabels()
        };
    }

    private List<string>? GetLabels()
    {
        var labels = new List<string>();
        foreach (var d in _dates.Order())
        {
            labels.Add(d.ToString("yyyy-MM-dd"));
        }
        return labels;
    }

    private List<IChartDataset>? GetDataset()
    {
        string[] colors = ColorUtility.CategoricalTwelveColors;
        var datasets = new List<IChartDataset>();
        var data = new List<double?>();
        
        foreach (var wp in _workoutPlans.OrderBy(x => x.Name.Split(" ").Last()))
        {
            var sum = wp.Workouts.SelectMany(x => x.Exercises)
                .Sum(x => x.Reps * x.Weight);
            
            data.Add(sum);
        }

        var chartDataset = new LineChartDataset()
        {
            Data = data,
            Label = "Workload",
            BackgroundColor = colors[1],
            BorderColor = colors[1],
            BorderWidth = 2,
            Tension = 0.5
        };
        
        datasets.Add(chartDataset);
        return datasets;
    }

    private List<Models.WorkoutPlan> UpdateWorkoutPlansNoFilter()
    {
        var workoutPlans = DbContext.WorkoutPlans
            .Include(x => x.Workouts)
            .ThenInclude(x => x.Exercises)
            .AsNoTracking()
            .ToList();
        return workoutPlans;
    }

    private void UpdateBody(List<Models.WorkoutPlan> workoutPlans)
    {
        foreach (var wp in workoutPlans)
        {
            string split = wp.Name.Split(" ").Last();
            var dt = Convert.ToDateTime(split);
            foreach (var w in wp.Workouts)
            {
                var name = w.Name;
                int effort = 0;
                foreach (var e in w.Exercises)
                {
                    effort += e.Reps * (int)e.Weight;                
                }
                
                _map.Add((dt, name), effort);
            }
        }
    }

    private void UpdateNames(List<Models.WorkoutPlan> workoutPlans)
    {
        foreach (var workoutPlan in workoutPlans)
        {
            _names.AddRange(workoutPlan.Workouts.Select(x => x.Name)); 
        }

        _names = _names.Distinct().ToList();
    }

    private void UpdateDates(List<Models.WorkoutPlan> workoutPlans)
    {
        _dates = workoutPlans.Select(x =>
        {
            string split = x.Name.Split(" ").Last();
            var dt = Convert.ToDateTime(split);
            return dt;
        }).Distinct().Order().ToList();
    }

    private void PrintResult()
    {
        Logger.LogInformation("Selected value is: {s}", _selectedExercise);
        var workoutPlans = _selectedExercise.ToLower() == "none"
            ? UpdateWorkoutPlansNoFilter()
            : UpdateWorkoutPlanFilter(_selectedExercise);

        _dates.Clear();
        _names.Clear();
        _map.Clear();
        
        UpdateDates(workoutPlans);
        UpdateNames(workoutPlans);
        UpdateBody(workoutPlans);
        
        StateHasChanged();
    }

    private List<Models.WorkoutPlan> UpdateWorkoutPlanFilter(string filter)
    {
        return DbContext.WorkoutPlans
            .Include(x => x.Workouts.Where(y => y.Name == filter))
            .ThenInclude(x => x.Exercises)
            .AsNoTracking()
            .Where(x => x.Workouts.Any(y => y.Name == filter))
            .ToList();
    }

}